{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tag
  -->
  <title>LingoPal</title>
  <meta name="title" content="EduWeb - The Best Program to Enroll for Exchange">
  <meta name="description" content="This is an education html template made by codewithsadee">


  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./static/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./static/images/hero-bg.svg">
  <link rel="preload" as="image" href="./static/images/hero-banner-1.jpg">
  <link rel="preload" as="image" href="./static/images/hero-banner-2.jpg">
  <link rel="preload" as="image" href="./static/images/hero-shape-1.svg">
  <link rel="preload" as="image" href="./static/images/hero-shape-2.png">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header style="background-color: #edeaea">
    <div class="container">

      <a href="{% url 'index'%}" class="logo">
        <img src="./static/images/logo.png" width="220" height="50" alt="EduWeb logo">
      </a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="#" class="logo">
            <img src="./static/images/logo.svg" width="162" height="50" alt="EduWeb logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

      </nav>

      <div class="header-actions">

        <a href="{% url 'login_attempt'%}" id="loginButton" class="btn has-before">
          <span class="span">Login/Register</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </a>
        

        <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>

      </div>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero has-bg-image" id="home" aria-label="home" style="background-color: #efa7b8">
        <div class="container">

          <div class="hero-content">

            <h1 id="typing" class="h1 section-title">
              The Best Program to <span class="span">Enroll</span> in the world of Language Learning
            </h1>
            

            <p class="hero-text">
              Embark on your language journey with us and discover the power of communication. Together, we'll unlock a world of opportunities and expand your horizons.
            </p>

            <a href="{% url 'login_attempt'%}" class="btn has-before">
              <span class="span">Login/Register</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>

          </div>

          <figure class="hero-banner">

            <div class="img-holder one" style="--width: 270; --height: 300;">
              <img src="./static/images/picture-1.webp" width="270" height="300" alt="hero banner" class="img-cover">
            </div>

            <div class="img-holder two" style="--width: 240; --height: 370;">
              <img src="./static/images/picture-2.webp" width="240" height="370" alt="hero banner" class="img-cover">
            </div>

            <img src="./static/images/hero-shape-1.svg" width="380" height="190" alt="" class="shape hero-shape-1">

            <img src="./static/images/hero-shape-2.png" width="622" height="551" alt="" class="shape hero-shape-2">

          </figure>

        </div>
      </section>





      <!-- 
        - #CATEGORY
      -->

      <section class="section category" aria-label="category" style="background-color: #e5dcdc">
        <div class="container">

          <p class="section-subtitle">Key Features</p>

          <h2 class="h2 section-title">
            Online <span class="span">Classes</span> For Remote Learning.
          </h2>

          <p class="section-text">
            Unlocking Knowledge, Anywhere, Anytime.
          </p>

          <ul class="grid-list">

            <li>
              <div class="category-card" style="height: 400px; --color: 170, 75%, 41%" >

                <div class="card-icon">
                  <img src="./static/images/category-1.svg" width="40" height="40" loading="lazy" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Language Exchange Matching</a>
                </h3>

                <p class="card-text">
                  Connect with language partners who want to learn your native language while teaching you theirs.
                </p>

              </div>
            </li>

            <li>
              <div class="category-card" style="height: 400px; --color: 351, 83%, 61%">

                <div class="card-icon">
                  <img src="./static/images/category-2.svg" width="40" height="40" loading="lazy" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Interactive Chat Interface</a>
                </h3>

                <p class="card-text">
                  Engage in real-time text conversations with your language partners to practice speaking and writing skills.
                </p>

              </div>
            </li>

            <li>
              <div class="category-card" style="height: 400px; --color: 229, 75%, 58%">

                <div class="card-icon">
                  <img src="./static/images/category-3.svg" width="40" height="40" loading="lazy" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Personalized Learning</a>
                </h3>

                <p class="card-text">
                  Customize your language learning experience by setting goals, selecting topics, and accessing resources tailored to your proficiency level.
                </p>

              </div>
            </li>

            <li>
              <div class="category-card" style="height: 400px; --color: 42, 94%, 55%">

                <div class="card-icon">
                  <img src="./static/images/category-4.svg" width="40" height="40" loading="lazy" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Progress Tracking</a>
                </h3>

                <p class="card-text">
                  Monitor your language learning progress with intuitive tools and feedback mechanisms, helping you stay motivated and achieve your goals.
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about" style="background-color: #efa7b8">
        <div class="container">

          <figure class="about-banner">

            <div class="img-holder" style="--width: 520; --height: 370;">
              <img src="./static/images/picture-3.jpg" width="520" height="370" loading="lazy" alt="about banner"
                class="img-cover">
            </div>

            

            <img src="./static/images/about-shape-2.svg" width="371" height="220" loading="lazy" alt=""
              class="shape about-shape-2">

            <img src="./static/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
              class="shape about-shape-3">

          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">
              <span class="span">Distant learning</span> for Skill Development
            </h2>

            <p class="section-text">
              Dive into our distant learning platform for comprehensive skill development. Master new abilities at your own pace, from anywhere in the world.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Collaborative Learning</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Online Remote Learning</span>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                <span class="span">Lifetime Access</span>
              </li>

            </ul>

            <img src="./static/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
              class="shape about-shape-4">

          </div>

        </div>
      </section>


      <!-- 
        - #VIDEO
      -->

      <section class="video has-bg-image" aria-label="video" style="background-color: #e5dcdc;">
        <div class="container">
          <div class="video-card">
            <div class="video-banner img-holder has-after" style="--width: ; --height: ;">
              <video id="video" width="970" height="550" controls poster="./static/images/picture-4.jpg" onended="showReplayButton()">
                <source src="static/images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <button id="pauseButton" class="pause-btn" aria-label="pause video">
                <ion-icon name="pause" aria-hidden="true"></ion-icon>
              </button>
              
              <script>
                document.addEventListener('DOMContentLoaded', function() {
                const video = document.getElementById('video');
                const pauseButton = document.getElementById('pauseButton');

                // Function to handle pausing and resuming the video
                function togglePauseVideo() {
                  if (video.paused) { // Check if the video is currently paused
                    video.play(); // Play the video
                    pauseButton.innerHTML = '<ion-icon name="pause" aria-hidden="true"></ion-icon>'; // Change button icon to pause
                  } else {
                    video.pause(); // Pause the video
                    pauseButton.innerHTML = '<ion-icon name="play" aria-hidden="true"></ion-icon>'; // Change button icon to play
                  }
                }

                // Add event listener for click event on the pause button
                pauseButton.addEventListener('click', togglePauseVideo);
              });
              </script>
              <button id="playButton" class="play-btn" aria-label="play video" onclick="playVideo()">
                <ion-icon name="play" aria-hidden="true"></ion-icon>
              </button>
            </div>
            <img src="./static/images/video-shape-1.png" width="1089" height="605" loading="lazy" alt="" class="shape video-shape-1">
          </div>
        </div>
      </section>
      
      <!-- 
        - #STATE
      -->

      <section class="section stats" aria-label="stats" style="background-color:  #e5dcdc">
        <div class="container">

          <ul class="grid-list">

            <li>
              <div class="stats-card" style="--color: 170, 75%, 41%">
                <h3 class="card-title">20K+</h3>

                <p class="card-text">Student Enrolled</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 351, 83%, 61%">
                <h3 class="card-title">50+</h3>

                <p class="card-text">Courses Available</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 260, 100%, 67%">
                <h3 class="card-title">100%</h3>

                <p class="card-text">Satisfaction Rate</p>
              </div>
            </li>

            <li>
              <div class="stats-card" style="--color: 42, 94%, 55%">
                <h3 class="card-title">250+</h3>

                <p class="card-text">Available Quizzes</p>
              </div>
            </li>

          </ul>

        </div>
      </section>


  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('./static/images/footer-bg.png')">

    <div class="footer-top section">
      <div class="container grid-list">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./static/images/logo2.png" width="250" height="90" alt="EduWeb logo">
          </a>

          <p class="footer-brand-text">
            Your passport to seamless language exchange, connecting learners worldwide for collaborative language learning journeys.
          </p>

          <div class="wrapper">
            <span class="span">Address:</span>

            <address class="address">789 Main Street, Suite 202, Bangalore, Karnataka, 560001, India</address>
          </div>

          <div class="wrapper">
            <span class="span">Call:</span>

            <a href="tel:+011234567890" class="footer-link">012-345-6789, </a>
            <a href="tel:+011234567890" class="footer-link">198-334-9876</a>
          </div>

          <div class="wrapper">
            <span class="span">Email:</span>

            <a href="mailto:lingopal.languagebuddies@gmail.com" class="footer-link">lingopal.languagebuddies@gmail.com, </a>
            <a href="mailto:lingopal.friends@gmail.com" class="footer-link">lingopal.friends@gmail.com</a>
          </div>

        </div>

        <ul class="footer-list" style="margin-left: 100px;">

          <li>
            <p class="footer-list-title">Links</p>
          </li>

          <li>
            <a href="{% url 'feedback_attempt'%}" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Gallery</a>
          </li>

          <li>
            <a href="#" class="footer-link">News & Articles</a>
          </li>

          <li>
            <a href="#" class="footer-link">FAQ's</a>
          </li>

          <li>
            <a href="{% url 'login_attempt'%}" class="footer-link">Login/Registration</a>
          </li>

          <li>
            <a href="#" class="footer-link">Coming Soon</a>
          </li>

        </ul>

        <div class="footer-list" style="margin-left: 120px;">
          <p class="footer-list-title">Contacts</p>
          <p class="footer-list-text">
              Enter your email address to register to our newsletter subscription
          </p>
          <form action="" class="newsletter-form">
              <div class="input-container">
                  <input type="email" name="email_address" placeholder="Your email address" required class="input-field" style="margin-bottom: 10px;">
                  <button type="submit" class="btn has-before">
                      <span class="span">Subscribe</span>
                      <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                  </button>
              </div>
          </form>
          <ul class="social-list">
              <li>
                  <a href="#" class="social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                  </a>
              </li>
              <li>
                  <a href="#" class="social-link">
                      <ion-icon name="logo-linkedin"></ion-icon>
                  </a>
              </li>
              <li>
                  <a href="#" class="social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                  </a>
              </li>
              <li>
                  <a href="#" class="social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                  </a>
              </li>
              <li>
                  <a href="#" class="social-link">
                      <ion-icon name="logo-youtube"></ion-icon>
                  </a>
              </li>
          </ul>
      </div>
      

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>


  <!-- 
    - custom js link
  -->
  <script src="./static/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
{% endblock %}