{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Bengali Quiz - Advanced</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>
    <div class="app">
        <h1>Bengali Quiz - Advanced</h1>
        <div class="quiz">
            <h2 id="question">Question goes here</h2>
            <div id="answer-buttons">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
            </div>
            <button id="next-btn">Next</button>
        </div>
    </div>
    <script src="{% static 'js/script_bengali_advanced.js' %}"></script>

</body>
</html>